@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hamburger states */

.nav__burger-line {
  @apply absolute
  left-1/2
  top-1/2
  w-full
  border-r-4
  bg-white
  transition-all 
  ease-in-out
  duration-500;
  transform: translate(-50%, -50%);
  height: 2px;
}

.nav__burger-line--1 {
  transform: translate(-50%, -7px);
}

.nav__burger-line--2 {
  @apply w-full;
}

.nav__burger-line--3 {
  transform: translate(-50%, 5px);
}

/* Nav links on hover */
.nav__link a:after,
.social__link a:after {
  @apply absolute
  -bottom-2.5
  left-0
  right-0
  m-auto
  w-0
  bg-white
  transition-all
  ease-linear
  duration-300;
  content: ".";
  color: transparent;
  height: 2px;
}

/* Nav link on active */

.nav__link a:hover:after,
.nav__link--active a::after,
.social__link a:hover:after {
  width: 50%;
}

.social__link a:hover:after {
  width: 100%;
}

/* Nav active states */
.nav--active.nav {
  transition: background-color 0.5s linear;
}

.nav--active .nav__links {
  @apply top-20
  visible
  w-full
  h-full
  z-30
  bg-black
  flex
  flex-col
  justify-center;
  animation: opac 0.5s linear;
}

.nav--active .nav__burger-line--1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nav--active .nav__burger-line--2 {
  width: 0;
}

.nav--active .nav__burger-line--3 {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* nav class on scroll */
.nav--shrink {
  @apply bg-black transition-all ease-in-out duration-500;
  padding: 2.5rem 0 !important;
}

/* Projects styling */

.overlay {
  visibility: hidden;
  opacity: 0;
}

.project:hover .overlay {
  visibility: visible;
  opacity: 0.75;
}

/* animations */
@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
